- var app_name = "autobotAI";
- var app_desc = app_name+" - Cloud Governance Solution for Cost Management, Security Compliance and Automation. GUI, VUI (Alexa) and ChatBot(ChatOps) enabled";
- var title = app_desc;
- var author = "ShunyEka Systems Private Limited";
- var description = app_name+" is a Cloud Governance Solution with VUI(Alexa) and ChatOps (ChatBot) to manage aws cloud infrastructure. It makes it easier to know your billing, forecast, security compliance, resource usage. It can help automate various day-to-day activities. It uses AI to improve security and cost effectiveness of Cloud Infrastructure. It's a single pane of glass for CloudOps and SecOps.";
- var keywords = app_name+", autobotAI, Cloud Governance, AWS, Managed Services, DevOps, SecOps, Automation, Compliance, Maintenance, Cost Saving, Cost Optimisation, Alexa, Chat Bot, VUI, ChatOps"
- var url = 'https://example.com'
- var s_media = { facebook: "https://www.facebook.com/awsautobot/", linkedin: "https://www.linkedin.com/company/autobot-live", twitter: "https://twitter.com/autobot_AI" }
- var company_name = "ShunyEka Systems Pvt Ltd"
- var asset_base_path = '/assets/'
- var template_base_path = '/templates/'
- var base = '/'