// Variable overrides

$navbar-bg: #2f353a;
$navbar-color: #f0f3f5;
$navbar-hover-color: #73818f;
$navbar-active-color: #f26400;
$primary: #f26400;
$sidebar-bg: white;
$sidebar-nav-link-color: black;
$sidebar-nav-link-active-color: black;
$sidebar-nav-link-active-bg: #e4e7ea;
$sidebar-nav-dropdown-bg: #f0f3f5;
$sidebar-nav-dropdown-color: black;